.logo {
    width: 100px;
    height: auto
}

.bubble-tea {
    width:100px;
    height: auto
}

.orange-tea {
    width:100px;
    height: auto
}

.matcha-latte {
    width:100px;
    height: auto
}

.strawberry-slush {
    width:100px;
    height: auto
}

.oreo-latte {
    width: 100px;
    height:auto
}